:root{
    --bakerlooColor:#894e24;
    --centralColor:#dc241f;
    --circleColor:#ffce00;
    --districtColor:#007229;
    --HACColor:#d799af;
    --jubileeColor:#6a7278;
    --metropolitanColor:#751056;
    --northernColor:#000;
    --piccadillyColor:#0019a8;
    --victoriaColor:#00a0e2;
    --WACColor:#76d0bd;
    --londonOvergroundColor:#e86a10;
    --tflRailColor:#0019a8;
    --DLRColor:#00afad;
    --tramColor:#6c0;
    --primaryColor: #011f05;
    --secondaryColor: #66bb6a;
}
* { 
    margin: 0;
    padding: 0;
  }


.inputsSection {
    width: 90vw;
    margin: 0 auto;
    height: 16rem;
    max-width: 40rem;
}

.hideInputsSection{
    height: 0; 
    overflow: hidden; 
    width: 0; 
    transition: all 1s ease;
    margin: 0 auto;
}

#fromHeader {
    color: white;
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 0%;
}

#toHeader {
    color: white;
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 0%;
}

#fromOptions {
    border: 1px solid var(--primaryColor);
    padding-top: 1px;
}

#toOptions {
    border: 1px solid var(--primaryColor);
    padding-top: 1px;
}

#fromInput{
    width: 100%;
    position: relative;
    height: auto; 
    margin-bottom:2rem;
    overflow: hidden;
       
}
#fromInput input {
    width:100%;
    height:100%;
    padding-top: 30px;
    border:none;
    padding-bottom: 0.5rem;
    outline: none;
    font-weight: 700;
    color: var(--secondaryColor);
    
}
#fromInput input:focus + .labelFrom .labelContentFrom,
 #fromInput input:valid + .labelFrom .labelContentFrom {
    transform: translateY(-150%);
    font-size: 1rem;
    
    font-weight: 600;

}
#fromInput input:focus + .labelFrom::after,
 #fromInput input:valid + .labelFrom::after{
    transform:translateX(0%);
 }



#fromInput label {
    position :absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events:none;
    border-bottom:1px solid var(--primaryColor);
    margin:0;
}

#fromInput label::after{
    content:"";
    position:absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width:100%;
    border-bottom:3px solid var(--primaryColor);
    transform: translateX(-100%);
    transition: transform 0.3 ease;
}

.labelContentFrom{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
#toInput{
    width: 100%;
    position: relative;
    height: auto; 
    margin-bottom:2rem;
    overflow: hidden;
       
}
#toInput input {
    width:100%;
    height:100%;
    padding-top: 30px;
    border:none;
    padding-bottom: 0.5rem;
    outline: none;
    font-weight: 700;
    color: var(--secondaryColor);
    
}
#toInput input:focus + .labelTo .labelContentTo,
 #toInput input:valid + .labelTo .labelContentTo {
    transform: translateY(-150%);
    font-size: 1rem;
    color:var(--primaryColor);
    font-weight: 600;

}
#toInput input:focus + .labelTo::after,
 #toInput input:valid + .labelTo::after{
    transform:translateX(0%);
 }



#toInput label {
    position :absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events:none;
    border-bottom:1px solid var(--primaryColor);
    margin:0;
}

#toInput label::after{
    content:"";
    position:absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width:100%;
    border-bottom:3px solid var(--primaryColor);
    transform: translateX(-100%);
    transition: transform 0.3 ease;
}

.labelContentTo{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
#toInput{
    width: 100%;    
}


body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    color: var(--primaryColor);
}


#buttonWrap{
    width: 100%;
    margin: 0 auto;
}

#goButton {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--primaryColor);
    font-weight: 800;
}

h1{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 0;
}

#basic-addon1{
    width: 4rem;
    height: 100%;
    background-color: rgba(0,0,0,.03) ;
}

.card {
    padding:0;
}

.hideCard {
    display: none;
}

#journey{
    text-align: center;
    margin: 0;
    transition: all 2s ease;
    height: 0px;
    overflow: hidden;
    
}

img {
    width: 1rem;
    height: 2rem;
    padding: 0;

}

ul {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    float:left;
}
#fromButtonHeading {
    
    border: 1px solid  var(--primaryColor) ;
    background-color: var(--primaryColor);
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
#toButtonHeading {
   
    border: 1px solid  var(--primaryColor) ;
    background-color: var(--primaryColor);
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.linesColor> li::before{
    content: "";
    display: block;
    width: 1rem;
    height: 3rem;
    margin-right: 0.3rem;
    float:left;
}

.linesColor> li{ 
    padding:0;
    line-height: 3;
}

.bakerloo::before ,.bakerloo::after {
    background-color: var(--bakerlooColor);
}
.bakerloo+ul>li:before{
    background-color: var(--bakerlooColor)
}
.bakerloo+ul>li:after{
    background-color: var(--bakerlooColor)
}

.central::before, .central::after {
    background-color: var(--centralColor);
}
.central+ul>li:before{
    background-color: var(--centralColor);
}
.central+ul>li:after{
    background-color: var(--centralColor);
}

.circle::before, .circle::after {
    background-color: var(--circleColor);
}
.circle+ul>li:before{
    background-color: var(--circleColor);
}
.circle+ul>li:after{
    background-color: var(--circleColor);
}
.district::before, .district::after{
    background-color: var(--districtColor);
}
.district+ul>li:before{
    background-color: var(--districtColor);
}
.district+ul>li:after{
    background-color: var(--districtColor);
}
.HAC::before, .HAC::after{
    background-color: var(--HACColor);
}
.HAC+ul>li:before{
    background-color: var(--HACColor);
}
.HAC+ul>li:after{
    background-color: var(--HACColor);
}
.jubilee::before, .jubilee::after{
    background-color: var(--jubileeColor);
}
.jubilee+ul>li:before{
    background-color: var(--jubileeColor);
}
.jubilee+ul>li:after{
    background-color: var(--jubileeColor);
}
.metropolitan::before, .metropolitan::after{
    background-color: var(--metropolitanColor);
}
.metropolitan+ul>li:before{
    background-color: var(--metropolitanColor);
}
.metropolitan+ul>li:after{
    background-color: var(--metropolitanColor);
}
.northern::before, .northern::after{
    background-color: var(--northernColor);
}
.northern+ul>li:before{
    background-color: var(--northernColor);
}
.northern+ul>li:after{
    background-color: var(--northernColor);
}
.piccadilly::before, .piccadilly::after{
    background-color: var(--piccadillyColor);
}
.piccadilly+ul>li:before{
    background-color: var(--piccadillyColor);
}
.piccadilly+ul>li:after{
    background-color: var(--piccadillyColor);
}
.victoria::before, .victoria::after{
    background-color:  var(--victoriaColor);
}
.victoria+ul>li:before{
    background-color:  var(--victoriaColor);
}
.victoria+ul>li:after{
    background-color:  var(--victoriaColor);
}
.WAC::before, .WAC::after{
    background-color: var(--WACColor);
}
.WAC+ul>li:before{
    background-color: var(--WACColor);
}
.WAC+ul>li:after{
    background-color: var(--WACColor);
}
.londonOverground::before, .londonOverground::after{
    background-color: var(--londonOvergroundColor)
}
.londonOverground+ul>li:before{
    background-color: var(--londonOvergroundColor)
}
.londonOverground+ul>li:after{
    background-color: var(--londonOvergroundColor)
}
.tflRail::before, .tflRail::after{
    background-color: var(--tflRailColor);
}
.tflRail+ul>li:before{
    background-color: var(--tflRailColor);
}
.tflRail+ul>li:after{
    background-color: var(--tflRailColor);
}
.DLR::before, .DLR::after{
    background-color: var(--DLRColor);
}
.DLR+ul>li:before{
    background-color: var(--DLRColor);
}
.DLR+ul>li:after{
    background-color: var(--DLRColor);
}
.tram::before, .tram::after{
    background-color: var(--tramColor);
}
.tram+ul>li:before{
    background-color: var(--tramColor);
}
.tram+ul>li:after{
    background-color: var(--tramColor);
}

.stations>li::before{
    content: "";
    display: block;
    width: 0.3rem;
    height: 3rem;
    margin-left:0.3rem;
    float:left;
}
.stations>li::after{
    content: "";
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.3rem;
    float:left;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

}
.stations>li{
    padding:0;
    line-height: 4;
    font-size: 11px;
    max-width: 90vw;
    
    
}

.list-group-item{
    border: none;
    max-height: 3rem;
    color:var(--primaryColor);
}

.accordian+ul{
    max-height: 16rem;
    overflow-y: scroll;

}

#toUL>li{
    max-height: fit-content;
}
#fromUL>li{
    max-height: fit-content;
}

#backIllu{
    margin: 0 auto;
    width: 80%;
    height: 50vw;
    display: block;
    padding-top: 1rem;
}

#fromSuggestions {
    max-height: 15rem;
    overflow: overlay;
}
#fromSuggestions  li {
    padding-left: 0.2rem;
}
#toSuggestions {
    max-height: 15rem;
    overflow: overlay;
}
#toSuggestions li {
    padding-left: 0.2rem
}

h3{
    font-weight: 600;
}


.grid-container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}



.titles {
    display: none;
    font-weight: 800;
    padding: 1rem;
    padding-top: 2rem;
}
.titleBlock{
    display:block;
}

.containerButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-width: 40rem;
    margin: auto;
}

.custoBut {
    background: white;
    color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 4px;
    width: 4rem;
    text-align: center;
    box-shadow: 0px 0px 5px 3px #66bb6a;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    padding-top: 0.6rem;
}
.custoButInvert{
    background: var(--primaryColor);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 4rem;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    padding-top: 0.6rem;
   
    
    
}

#journeyLocs{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(xMark1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.gridItemLabel {
    margin: auto;
}

.gridItemH3 {
    margin: auto;
    font-size: 3rem;

    
}

#exercise {

    margin-top: 2rem;
    margin:auto;
}
p{
    text-align: center;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 5rem;
    font-size:0.8rem;
    max-width: 40rem;
    margin: auto;
}

h3>span{
    font-size: 2rem;
}

.container {
    padding-left: 0;
    padding-right: 0;
}
.container::hover {
    cursor:auto;
}

.opac0{
    opacity: 0;

}
.opac1{
    transition: all 0.5s ease 0s;
    opacity: 1;
}

.row{
    margin-right: 0;
    margin-left: 0;
}


.switch {
position: relative;
display: inline-block;
width: 10rem;
height: 34px;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--primaryColor);
color: white;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: white;
color: var(--primaryColor);
}

input:focus + .slider {
box-shadow: 0 0 1px var(--primaryColor);
}

input:checked + .slider:before {
-webkit-transform: translateX(7.8rem);
-ms-transform: translateX(7.8rem);
transform: translateX(7.8rem);
}

/*------ ADDED CSS ---------*/
.on
{
display: none;
color:var(--primaryColor);
}
.off{
    color:white;
}

.on, .off
{

position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 12px;
font-weight: bold;
}

input:checked + .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
border-radius: 34px;
border:1px solid var(--primaryColor);
}

.slider.round:before {
border-radius: 50%;
border: 1px solid var(--primaryColor);
}
.commuteFarePadTop {
    padding-top: 8rem;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
}
h1::before {
    content: "";
    width: 5.5em;
    height: 1.5em;
    background: #66bb6a;
    position: absolute;
    z-index: -1;
    transform: skewX(346deg);
    margin: 22px;
}
h2::before {
    content: "";
    width: 7.5em;
    height: 1em;
    background: #66bb6a;
    position: absolute;
    z-index: -1;
    transform: skewX(346deg);
    margin: 22px;
}
#fares h2::before{
    width: 6.5em;
}
#exercise h2::before {
    width: 9em; 
}




@media screen and (min-width: 403px) {
    h1:before {
            content: "";
            width: 11.5em;
            height: 1em;
            color: white;
            background: #66bb6a;
            position: absolute;
            z-index: -1;
            transform: skewX(346deg);
            margin: 22px;
        }
    }


@media screen and (min-width: 1000px) {
    #para {
        font-size: 2rem;
        overflow: visible;
        text-align: left;
        padding-left: 0;
        margin-left: 2rem;
        margin-right: 34vw;
        padding-top: 8%;
        font-weight: 800;
        text-shadow: 2px 2px #ffffff;
    }   
    #vectorBackground{
        background-image: url(bikeVector2.jpg);
        height: 35vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
        max-height: 24rem;
        max-width: 1440px;
        margin: auto;
    }
    h1{
        font-size: 3rem;
        margin-top: 2rem;
    
    }
    #comFare {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1440px;
        align-items: center;
        margin: auto;
    }
    #commuteTime, #fares {
        width: 50%;
    }
    #exercise{
        max-width: 1440px;
        margin-top: 0;

    }
}

#svgBlur {
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: -100;
}

#svgPlacement {
    width: 12rem;
    height: 12rem;
    position: absolute;
    overflow: hidden;
    bottom: 0rem;
    left: 0rem;
    transform: rotate(90deg);
    z-index: -100;
}

