#inputsSection {
    width:90vw;
    margin: 0 auto;
    padding: 2%;
}
#frominput{
    width: 100%;    
}
#toinput{
    width: 100%;    
}


#buttonWrap{
    width: 100%;
    margin: 0 auto;
}

#goButton {
    display: block;
    margin: auto;
}

h1{
    padding: 2rem;
    text-align: center;
}

#basic-addon1{
    width: 4rem;
    height: 100%;
}

.card {
    padding:0;
    margin: 1rem;
}

.hideCard {
    display: none;
}

#journey{
    text-align: center;
    margin:auto;
}

img {
    width: 1rem;
    height: 2rem;
    padding: 0;

}

ul {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    float:left;
}

